cmd.txt
JuceLibraryCode/

**/Builds/
# ==========================================
# Visual Studio Files
# ==========================================
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# ==========================================
# Compiled Files
# ==========================================
*.obj
*.o
*.exe
*.dll
*.lib
*.exp
*.ilk
*.pdb
*.idb
*.ipch

# ==========================================
# Logs
# ==========================================
*.log
*.tlog

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# VS Code
# ==========================================
.vscode/